.navbar.navbar-inverse{
	background: rgba(0,0,0,0.8);
    /*border-bottom: 1px solid #585858;*/
}
.navbar{
	padding: 10px 0px;
}
.navbar.navbar-inverse .nav > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    opacity: .8;
    transition: all .2s linear;
    text-decoration: none;
}
.navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
	color: #FFFFFF;
	opacity: 1;
}
.navbar.navbar-inverse .nav > li.active > a {
	color: #0099FF;
	opacity: 1;
	background: none; 
	box-shadow: none;
	border-bottom: 2px solid #0099FF;
}
.navbar-nav{
	float: right;
}
.navbar-brand{
	font-size: 24px;
	color: #0099FF !important;
}
.cover-image{
	padding: 85px 0px 0px 0px;
	margin: 0px;
	min-height: 980px;
	background: url("../images/e1.jpg") no-repeat center center;
	background-size: cover;
}
.cover-text{
	margin-top: 630px;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 40px;
}
.cover-overlay{
	background: rgba(0,0,0,0.6);
	width: 100%;
	min-height: 920px;
	padding: 0px;
	margin-top: -15px;
}
@media (max-width: 992px) { 
	.container{
		width: 100%;
		padding: 0px;
	}
 }
 .content{
 	/*background: url(../images/2.png);*/
 }
.page-header{
	text-align: center;
	/*color: #0099FF;*/
	color: #5E9516;
}
.overlay{
	background: rgba(0,0,0,0.6);
}
.wrapper{
	text-align: center;
	font-size: 18px;
	padding: 10px;
	color: #505050;
}
.year{
	color: #0099FF;
	padding: 10px;
}
a:visited, a:hover, a:active{
	color: #0099FF;
}
.desc{
	padding: 10px;
	text-align: justify;
}
#education{
	background-image: url(../images/5.png);
}
#education p{
	margin: 0px;
	color: #D3D3D3;
}
#projects{
	background: url(../images/10.jpg);
/*	background-size:cover;
  	background-position:center center;
  	background-attachment:fixed;*/
}
#projects .carousel-inner .item{
	min-height : 300px;
}
@media (max-width: 768px) { 
	#projects .carousel-inner .item{
		min-height: 350px;
	}
 }
 @media (max-width: 600px) { 
	#projects .carousel-inner .item{
		min-height: 420px;
	}
 }
#carousel-projects .carousel-caption{
	text-align: right;
	padding-right: 20px;
	font-size: 14px;
	padding: 10px;
	left: 0;
	right: 0;
	bottom: 20px;
}
#carousel-projects .carousel-caption a{
	padding: 10px;
	background: #005A96;
	color: #FFFFFF;
}
#carousel-projects .carousel-caption a:hover{
	text-decoration: none;
}
#carousel-projects .carousel-inner .item p{
	color: #B0B0B0;
}
#carousel-projects .carousel-inner .item p:last-of-type{
	padding-bottom: 50px;
}
#carousel-projects .carousel-indicators{
	left: 0;
	right: 0;
	margin-left: 0;
	text-align: left;
	padding-left: 20px;
	bottom: 15px;
}
.page-header{
	border-bottom: none;
}
.text-center{
	text-align: center;
	color: #333;
}
.text-center a{
	color: #333;
}
.text-center i{
	padding: 10px;
}
.text-center a:hover, a:focus{
	color: #0099FF;
	text-decoration: none;
}
.parallax{
	/*height: 300px;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }
footer{
	padding: 40px 0px;
}